@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}




<div style="padding-left:500px;font-family:'Colonna MT';font-size:70px;color:red">

    <span> Add Item </span>


</div>
<br>
<br>

<div style="padding-left:500px;font-family:'Colonna MT';font-size:50px;color:red">

    <a href="~/Admin/AddFruit"> <span> Fruits </span></a>


</div>

<div style="padding-left: 500px;font-family: 'Colonna MT'; font-size: 50px; color:red">

    <a href="~/Admin/AddVegetable"> <span> Vegetable</span></a>


</div>