@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<div style="padding-left:300px;font-family:'Colonna MT';font-size:90px;color:red">

    <span> Update Rate List </span>


</div>
<br>
<br>

<div style="padding-left:400px;font-family:'Colonna MT';font-size:50px;color:red">

    <a href="~/Admin/UpdateFruitRateList"> <span> Fruits RateList </span></a>


</div>

<div style="padding-left: 400px;font-family: 'Colonna MT'; font-size: 50px; color:red">

    <a href="~/Admin/UpdateVegetableRateList"> <span> Vegetable RateList</span></a>


</div>
