@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>

    <br>
    <br>
    <br>
    <div style="float:left">

        <br><img style="border:groove" src="~/Images/mangoes.jpg" class="img-circle" width="300" height="250">
        <p style="color:blueviolet;font-style:italic;padding-left:10px">
            Mangoes are generally sweet,<br> although the taste
            and <br>texture of the flesh varies across <br>cultivars;
            some have a soft,<br>pulpy texture similar to an overripe plum,
        </p>
    </div>

   <div class="center-block" >
       <h1 style="color:green;font-family:FangSong;font-style:oblique;font-size:50px">About Us</h1>
       <br> 
       <br>
       <p style="color:green;font-family:FangSong;font-style:oblique;font-size:30px"> This website tells u about the rates of fruits and vegetable 
       on daily basic you can compare the price
        of the fruits and vegetables that 
       you have buyed from the market with the government announced rates</p>
       </div>
    <div style="float:right" class="col-lg-3">

        <br><img style="border:groove"  src="~/Images/orang.jpg" class="img-circle" width="300" height="250">
        <p style="color:blueviolet;font-style:italic"> Oranges are an excellent source of vitamin C.<br> They are also a very good source of dietary fiber.<p>

    </div>


</body>